

<form method="POST" action="{{ path('login') }}">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="_email" name="_username" aria-describedby="emailHelp">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="_password" name="_password">
  </div>

  <button type="submit" class="btn btn-primary">Acessar</button>
</form>
